<style type="text/css">
    #Booking a{
        clear:both;background-color:red;
        color:white;width:120px;height:35px;
        display:block;float:right;text-align:center;
        padding-top:5px;text-decoration:none;font-weight:bold;
    }
    #Booking a:hover{
        background-color:gray;
        color:red;
    }
</style>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3 style="text-align:center;color:red">DETAILS</h3>
<div>
    <div style="width:40%;float:left;border-left:dotted 1px;border-color: azure">
        <img alt="@Model.CarName" src="~/Images/@Model.Image" width="300" height="250"/>
    </div>
    <div style="width:60%;float:left;padding:10px">
        <h4 style="color:red">
            <span style="font-weight:bold">Car Name:</span> @Model.CarName
        </h4>
        <h5>
            <span style="font-weight:bold">Introduce:</span> @Model.Introduce
        </h5>
        <h5 style="font-weight:bold">Price: <span style="color:red;font-size:16pt">@Model.Price VND/Day </span></h5>
    </div>
    <div id="Booking">
        <a href="@Url.Action("Addpurchaseorder","Purchaseorder",new { @iCarID= Model.CarID, @strURL=Request.Url.ToString() })" class="list-group-item">RENT</a>
    </div>
</div>


