
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<table align="center">
    <h2 style="text-align:center">REGISTRATION</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td> Custommer Name:</td>
            <td>
                @Html.TextBox("Name")
                @ViewData["Loi1"]
           </td>
        </tr>
        <tr style="height:40px">
            <td> Email:</td>
            <td>
                @Html.TextBox("Email")
                @ViewData["Loi2"]
            </td>
        </tr>
        <tr style="height:40px">
            <td> Password:</td>
            <td>
                @Html.Password("Pass")
                @ViewData["Loi3"]
            </td>
        </tr>
        <tr style="height:40px">
            <td> Retype Password:</td>
            <td>
                @Html.Password("RePass")
                @ViewData["Loi4"]
            </td>
        </tr>
        <tr style="height:40px">
            <td> Address:</td>
            <td>
                @Html.TextBox("Address")
                @ViewData["Loi5"]
            </td>
        </tr>
        <tr style="height:40px">
            <td> Telephone:</td>
            <td>
                @Html.TextBox("Telephone")
                @ViewData["Loi6"]
            </td>
        </tr>
        <tr style="height:40px">
            <td> BirthDay:</td>
            <td>
                <input type="date" name="BirthDay" />
            </td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td>
                <input type="submit" value="Registration" />
            </td>
        </tr>
    }

</table>

