@model MvcCar.Models.BRANCH

@{
    ViewBag.Title = "DetailsB";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div>
    <h4>BRANCH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BraLocal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BraLocal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BraAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BraAdress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BraTelephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BraTelephone)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.BraID }) |*@
    @Html.ActionLink("Back to List", "Branch")
</p>
